<article class="gh-card {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
        <header class="gh-card-header">
            <h2 class="gh-card-title">{{title}}</h2>
        </header>

        <div class="gh-card-excerpt">{{excerpt}}</div>
    </a>

    <footer class="gh-card-footer">
        <div class="gh-article-meta" style="display: block; margin: 1.5em 0; line-height: 2.2em;">
            <a href="{{url}}">
                <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            </a>
            {{#foreach tags}}
                <a class="gh-navigation-middle" style="background-color: #f2f2f2; margin: 0 0.5em; padding: 0.4em 0.3em; border-radius: 0.5em;" href="{{url}}">{{name}}</a>
            {{/foreach}}
        </div>
    </footer>
</article>
